.Text{
    margin-left:550px;
}
.par{
    color:black;
    width: 600px;
    margin-top: 70px;
    margin-left: 350px;
    font-size: 25px;
}
.img{
    height: 300px;
    width: 300px;
    margin-left:450px;
    border:solid 4px black;
    border-style:solid;
    margin-top: 20px;
}

.img:hover{
    margin-bottom: 20px;
}

body{
    margin: 0;
    padding: 0;

}
.head{
 padding-top: 100px;
padding-bottom: 300px;
background-color:orange;
height: 335px;
}
.name{
    margin-left: 530px;
    color: black;
    font-size: 50px ;
    

}

.self{
    padding-top: 43px;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;


}




    

    



.self-card{
    width: 200px;
    height:330px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 2px;
    margin: 40px 40px;

}
.self-card:hover{
    margin-top: -3px;
    transition: 0.5s;
}
    

    

.img1{
    height: 200px;
    width: 200px;
    border-radius: 3px 3px 0 0;
}
.img1:hover{
    background-color:black;  
      border-radius:10px;
      transition: 0.5s;
      margin-bottom: 10px;
}
.des{
    margin-left: 13px;
}
.icons{
margin-bottom: 25px;
width: 30px;
height: 30px;
margin-left: 35px;

}