.img
{
    height:200px; 
    width:200px;
}
@media screen and (max-width:768px)
 {
    .img
    {
        height:100px; 
       width:100px;
    }
}



.f{
    display: inline-block;
    width: 470px;
    margin: 60px;
    text-align:left; 
    font-family: 'Quicksand', sans-serif;
    
    text-align: justify;
    position: absolute;
    left:700px;
    text-decoration: none;
    color:#000000;
    

}

.b{
    height: 350px;
    width: 600px;
    border: solid 3px aqua ;
    border-radius: 5px;
    box-shadow:5px 5px 5px 5px rgb(85, 81, 81) ;
    /* margin-right:  200px; */
   
    display: inline-block;
   }


.b:hover{

    border: blueviolet 5px solid;
    transition: 0.5s;
    
}






h1{
    color: brown;
    align-content: center;
    margin-left:  400px ;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.c{
    height: 250px;
}


.d{
    margin-left: 200px;
}


.e{
    height: 330px;
    width: 600px;
}


header{

    background-color: tomato;
    height: 200px;
    
}

@media screen and (max-width:768px)
 {
    header
    {
       
    height: 100px;
    }
}



.q{

    
    
    margin-left: 10px;
    
    
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    display: inline-block;
    position: absolute;
    top: 20px;
    text-align: center;
   
    padding-left: 50px;



}

@media screen and (max-width:768px)
 {
.q
    {
       
        font-size: 20px;
    }
}



.mark{

    margin-right: 600px;
    display: inline-block;
    text-align: justify;
    position: relative;
    color: #000000;
    transition: 10s;
     

}

.l{
    margin-right: 600px;
    display: inline-block;
    text-align: justify;
    position: absolute;
    left:700px;
    top: 630px;
    
     
}


.m{
    margin-right: 600px;
    display: inline-block;
    position: absolute;
    left:700px;
    
     
}

.n{
    margin-right: 600px;
    display: inline-block;
    position: absolute;
    left:700px;
    
     
}