

img{
    
    flex-wrap: wrap;
  border:solid black 2px;
    border-radius: 50%;
    margin-left: 40px;
}

@media screen and (max-width:768px)
 {
    .img
    {
        height:100px; 
       width:100px;
    }
}

.f{

    display: inline-block;
    width: 470px;
    font-size: 13px;
   
   
    text-align: justify;
    
    text-decoration: none;
    color:#000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
@media screen and (max-width:768px){

    .g{

        width: 170px;
   margin-right: 0px;;
    font-size: 10px;
        
    
    }


}
.g{
    position: absolute; 
    top: 330px;
     left: 150px;
    right: 300px; 
    margin-right: 300px; 
    margin-left: 600px;
}















.b{
    height: 350px;
    width: 600px;
    border: solid 3px black ;
    border-radius: 10px;
    box-shadow:5px 5px 5px 5px rgb(85, 81, 81) ;
    margin-right:  200px
   
    display: inline-block;
    margin-left: 50px;
   }


.b:hover{

    border: red 5px solid;
    transition: 0.5s;
    
}
.events{
color: tomato;
 margin-left: 450px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

@media screen and (max-width:768px) {
    .events{

        font-size: 20px;
        margin-left: 50px;
    }
    
}
@media screen and (max-width:768px){

    .u{
        font-size: 10px;
     
        margin-left: 100px;
     align-content:left;
     

    }
}




.u{
    color: brown;
    align-content: center;
    margin-left: 500px;
    
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}


.c{
    height: 250px;
}


.d{
    margin-left: 200px;
}


.e{
    height: 330px;
    width: 600px;
}


header{

    background-color: beige;
    height: 150px;
    
}

@media screen and (max-width:768px)
 {
    header
    {
       
    height: 100px;
    }
}



.q{


    
     margin-top: 10px;
    margin-left: 95px;
    border: 1px solid black;
    border-radius: 50px;
    
    padding: 10px;
    color:rgb(56, 3, 3);
    background-color: rgb(209, 138, 46);
    
    
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    display: inline-block;
    position: absolute;
    top: 20px;
    text-align: center;
   
    padding-left: 50px;



}

@media screen and (max-width:768px)
 {
.q
    {
       
        font-size: 20px;
    }
}

.btn{
    margin-top:-25px;
    margin-left: 450px;
    border: none;
    
    }


    .nav{
        border: none;
       background-color: beige;
        color: chocolate;
        flex-wrap: wrap;
      margin-top: -20px;
      padding-right: 10px;
      padding-left: 10px;
      margin-left:30px;
      padding-top: 0px;
      color: orange;
     
      
     
      font-size: large;
      
    }
   


.mark{

    margin-right: 600px;
    display: inline-block;
    text-align: justify;
    position: relative;
    color: #000000;
    transition: 0.5s;
   
     

}

@media screen and (max-width:768px)
 {
.mark
    {
       
        width:200px;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        text-align: justify;
    }
}

.l{
    margin-right: 600px;
    display: inline-block;
    text-align: justify;
    position: absolute;
    left:700px;
    top: 630px;
    
     
}


.k{
    margin-right: 950px;
    display: inline-block;
    position: absolute;
    left:700px;
    
     
}

.n{
    margin-right: 100px;
    display: inline-block;
    position: absolute;
    left:530px;
    margin-left: 200px;
    
     
}

