@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vast+Shadow&display=swap');
body {
    text-align:center;
    background-color:white;
    margin: 0;
    padding: 0;
}
.fort-background {
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Bungee Shade', sans-serif;
text-align: left;
font-size: large;
color: #808080;

}
.fort-headline{
  font-family: 'Vast Shadow', serif;
  color: #FFBF00;
}
      .fort-card{
    display: inline-block;
    width: 300px;
    margin: 15px;
    padding: 15px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(10, 10, 10, 0.4);
    background-color: bisque;
    border-radius: 8px;
    border: 1px solid #0f0808;
    text-align: center;
      } 
      .fort-title{
          font-size: 20px;
          margin-left: 10px;
          margin: 0;
      }
      .fort-image{ 
        width:300px;
        height:250px;
        border-radius: 10px 10px 0 0;
      }
        .fort-image:hover{
          transform:scale(1.1);
        }
        
      .fort-description {
          padding-left:10px;
          padding-right:10px;
      }
      .btn-fort{
          margin: 20px;
          background-color: rgb(5, 5, 5);
          color: aliceblue;
          border:none;
          padding: 10px 50px;
          border-radius: 20px;
      }
      .btn-fort:hover{
        transform:scale(1.1);
      }
      