/*
    1- blue   
    2-rgb(38, 37, 37)
*/


.btn-primary{
    border:1px solid blue;
    height:40px;
    width: 75px;
     border-radius: 5px;
     font-size: 20px;
     color :blue;
}
.btn-secondary{
    border:1px solid rgb(38, 37, 37);
    height:40px;
    width: 75px;
     border-radius: 5px;
     font-size: 20px;
     color : rgb(38, 37, 37);

}
